header {
    position: relative; /* Allow absolute positioning within the header */
    padding: 10px;
    /*background-color: #f4f4f4;*/
    border-bottom: 1px solid #ddd;
}

.user-container {
    position: absolute; /* Position absolutely within the header */
    top: 10px; /* Distance from the top of the header */
    right: 10px; /* Distance from the right edge of the header */
}

#userName {
    cursor: pointer;
    font-size: 16px;
    /*color: #333;*/
    margin: 0;
}

#userName:hover {
    text-decoration: underline;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: indigo;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Optional, adjust as needed */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.app {
    display: grid;
    grid-template-columns: 20% auto 40%; /* Sidebar takes 20% and main content takes the remaining space */
    min-height: 100vh;
    color: white;
    align-items: center; /* Vertically center-align content */
}

.sidebar {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 672px; /* Adjust the maximum width as needed */
    overflow-y: auto; /* Add scrolling for overflow content */
    max-width: 350px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    align-items: center; /* Vertically center-align content */
    display: flex; /* Use flexbox to center-align buttons */
    flex-direction: column; /* Align buttons vertically */
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 280px;
}
.right-sidebar button.active {
    background-color: #3498db; /* Change to the desired highlight color */
    color: white;
    font-weight: bold;
}
.sidebar button.active {
    background-color: #3498db; /* Change to the desired highlight color */
    color: white;
    font-weight: bold;
}

.sidebar-header {
    display: flex; /* Use flexbox to align content */
    justify-content: center; /* Horizontally center-align content */
    align-items: center; /* Vertically center-align content */

}
.image {
    padding-left: 20px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align content to the start (left) */
}

.image-display {
position: relative;
    border: 1px solid #ccc;
    text-align: center;
    /*margin-top: 0; !* Reset margin-top *!*/
}

/* Increase the image size */
#x-ray-image {
    display: block;
    width: 672px;
    height: 672px; /* Adjust the maximum height as needed */
}
#drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    cursor:  crosshair;
    z-index: 1; /* Ensure the canvas is on top of the image */
}
.comment-section {
    margin-top: auto; /* Push the comment section to the bottom */
    width: 100%; /* Full width of the sidebar */
    padding: 10px; /* Add padding */
    max-height: 180px; /* Limit max height */
    overflow-y: auto; /* Scroll if content exceeds max height */
}


.right-sidebar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 10px;
    height: 672px;
    border: 1px solid #ccc;
    overflow: hidden; /* Prevent overflow */
}


.prototype-bar {
    flex-grow: 1; /* Allow prototype bar to take up available space */
    overflow-y: auto; /* Scroll if content overflows */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc;
}

.prototype-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.prototype-table th,
.prototype-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.prototype-header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.all-studies-button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 180px;

}
.annotation-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.annotation-table th,
.annotation-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.annotation-header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}