<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<style>
    /* Change color of anchor links within elements with the class "custom-links" */
    .custom-links a {
        color: white; /* Change this to your desired color */
    }

    /* Change color of a specific anchor link by using an ID */
    #special-link {
        color: white; /* Change this to your desired color */
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='single-study-view-styles.css') }}">
    <style>
    body {
        font-family: 'Open Sans',sans-serif;
        margin: 20px 50px 50px;
    }
    header {
      display: flex;
      align-items: center;
      /* Remove the next line if you want the span to appear next to the h1 */
      justify-content: space-between;
    }
    </style>
    <meta charset="UTF-8">
    <title style="color: white; ">Study {{ study.accession_number }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background-color:black;">
    <header class="bb" style="text-align: left; color: white">
        <h1>Study {{study.accession_number}}</h1>
        <input type="hidden" id="current-accession-number" value="{{ study.accession_number }}">
        <span>Date: {{study.study_date}}</span>
{#        <span>Predicted class: {{study.predicted_class.value}}</span>#}
        <span>Description: {{study.study_description}}  </span>
        <button class="previous-button" onclick="previousStudy()"> <a>previous study</a></button>
        <button class="all-studies-button" onclick="backToAllStudies()"> <a>Back to all studies</a></button>
        <button class="next-button" onclick="nextStudy()"> <a>next study</a></button>
        <div class="user-container" style="text-align: right;">
            <p id="userName" onclick="showNameModal()" style="cursor: pointer;">
                <!-- JavaScript will update this text -->
            </p>
        </div>
    </header>
    <div class="app" >
<!--            <b>{{ study.series[0].images[0].fractured_annotated_image_dir }}</b>-->
        <div class="sidebar">
            <h3 class="styles.css">Predicted class: {{study.predicted_class.value}}</h3>
            <ul>
                {% for series in study.series %}
                    <li>
<!--                         NOTE: THIS NOW ASSUME EACH SERIES ONLY HAVE ONE IMAGE-->
                        <div data-value='{{series.images[0].fractured_annotated_image_dir}}'></div>
                        <button id="first-button" data-image-id="{{ series.images[0].image_uid }}" onclick="displayPrototypesAndImages('{{ series.images[0].prototypes_to_json() }}', '{{ series.images[0].fractured_annotated_image_dir}}')">
                         <b>{{ series.images[0].image_uid[-7:] }}</b> <br>
                            Predicted class: {{series.images[0].predicted_class.value}} <br>
                            Fractured weight: {{series.images[0].fractured_sim_weight}} <br>
                            Non-fractured weight: {{series.images[0].non_fractured_sim_weight}}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="image" >
            <button id="show-original-button" class="show-original-button">Show Original Image</button>
            <div class="image-display">
                <img id="x-ray-image" src="" alt="">
            </div>
        </div>
        <div class="right-sidebar">
            <div class="prototype-bar", id="prototypes-bar">
                <h2 class="prototype-bar-header">List of prototypes will appear here after an image is chosen.</h2>
            </div>
            <div class="comment-section">
                <textarea
                    id="comment-{{ study.accession_number }}"
                    rows="4"
                    cols="50"
                    placeholder="Comment on this study">{{ study.study_comment if study.study_comment  else '' }}</textarea>

                <button onclick="saveComment('{{ study.accession_number }}')">Save</button>
                </div>
                </div>
            </div>
        </div>
        <div id="nameModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Select or Add Your Name</h2>
                <form id="nameForm">
                    <label for="names">Choose your name:</label>
                    <select name="selectedName" id="names">
                        <!-- Options will be populated by JavaScript -->
                    </select>
    
                    <p>Or add a new name:</p>
                    <input type="text" name="newName" placeholder="Enter new name">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='single-study-view.js') }}"></script>
    <script src="{{ url_for('static', filename='name-handler.js') }}"></script>
</body>
</html>
